@charset "UTF-8";

body {
	background-color:#EC2529;
}

.box {
	width:70%;
	margin-left:15%;
	margin-right:15%;
}

.hidden {
	display:none;
}

.visible {
	display:block;
}

#loadscrn {
	background-color:pink;
	text-align:center;
	padding:5%;
}
.toppings {
	float:right;
}
#lunch {
	background-color:yellow;
	padding:5%;
}


.dog {
	width:500px;
	height:500px;
	background-image:url(web-button.jpg);
	background-size:cover;
}

.drag { position: relative; }



.condiments {
	float:right;
}

.condiments img {
	z-index:1;
}

.droppable {
	width:90%;
	background-color:green;
}